        <article class="dish">
            <img class="menu" src="img/salad.jpg" alt="Turing Salad">
            <header>            
                <h2>Turing Salad</h2>
            </header>
            <p class="menuItem">
                Sun-dried tomatos and feta cheese on top of a thin layer of lettuce. Choose between our balsamic,
                mustard or barbecue dressing.
            </p>
            <p class="price">
                75 kr.
            </p>
        </article>
        <article class="dish">
            <img class="menu" src="img/pizza.jpg" alt="Pizza Berners-Lee">
            <header>            
                <h2>Pizza Berners-Lee</h2>
            </header>
            <p class="menuItem">
                Tomato, mozzarella, pepperoni and rucula. Choose between our thin or thick bread base.
            </p>
            <p class="price">
                80 kr.
            </p>
        </article>
        <article class="dish">
            <img class="menu" src="img/burger.jpg" alt="Codd Burger">
            <header>            
                <h2>Codd Burger</h2>
            </header>
            <p class="menuItem">
                High quality meat, lettuce, tomato, onion, bacon, cheese, jalape&ntilde;os and a lot of love.
                Which sauce do you prefer: BBQ, Dijon or mayonaisse? It comes with French fries and coleslaw salad.
            </p>
            <p class="price">
                115 kr.
            </p>
        </article>
        <article class="dish">
            <!-- Original picture: https://www.pexels.com/photo/ice-cream-dessert-on-marble-surface-2161643/ -->
            <img class="menu" src="img/icecream.jpg" alt="Cerf Cream">
            <header>            
                <h2>Cerf Cream</h2>
            </header>
            <p class="menuItem">
                Delightful strawberry icecream topped with actual strawberries. In cone or vase. Multiple toppings available.
            </p>
            <p class="price">
                65 kr.
            </p>
        </article>